<div class="text-center">
	<% @users.each do |u| %>
	<%= attachment_image_tag u, :user_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpeg",class: "img-circle" %>
	<%= u.user_name %>
	<% end %>
</div>