// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.category-left{
	float: left;
	margin: 67px;
}
.category-right{
    float: left;
}

.a-cate{
	color: khaki;
	font-size: 30px;
}
.g-cate{
    color: royalblue;
	font-size: 30px;
}
.b-cate{
	color: aquamarine;
	font-size: 30px;
}
.p-cate{
	color: white;
	font-size: 30px;
}
