// Place all the styles related to the g_sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category{
	font-size: 20px;
	margin-top: 20px;
}
.bpm{
	margin: 0 13px;
}
.key{
	margin: 0 13px;
}
.part{
	margin: 0 13px;
}

.body1{
	padding-left: 20%;
}
.a{
    margin: 30px;
}