// Place all the styles related to the g_sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category{
	font-size: 20px;
	margin-top: 20px;
}

.bpm{
	margin: 0 13px;
}
.key{
	margin: 0 13px;
}
.part{
	margin: 0 13px;
}
.audio{
	font-size: 100px;
}
.index{
	margin: 50px;
}
.one{
	margin: 50px;
}
.like-favorite{
	margin: 30px;
	font-size: 19px;
	color: white;
}
.like-favorite-item{
	color:white;
}


.body-guitar{
	padding-left: 20%;
	background-color: #222222;
	background-size: cover;
	background-position:  top;
}
.search-box{
	display: inline;
	margin: 30px;
	font-size: 20px;

}
form{
	padding-top: 33px;
}
.box1{
	display: inline-block;
	margin: 20px;
	text-align: center;
}

.gbody{
font-size: 30px;
margin: 19px;
color: white;
}

.editdelete{
	font-size: 17px;
}
.h{
	color: white;
}
.cate-item{
	margin: 0 30px;
	font-size: 20px;
	color: white;
}
.search-box_label{
	color: white;
}










.search-box_label {
    font-weight: bold;
}
.is-hide {
    display: none;
}