// Place all the styles related to the g_sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search{
	text-align: center;
	font-size: 23px;
}
.category{
	font-size: 20px;
	margin-top: 20px;
}

.bpm{
	margin: 0 13px;
}
.key{
	margin: 0 13px;
}
.part{
	margin: 0 13px;
}
.audio{
	font-size: 100px;
}
.index{
	margin: 50px;
	text-align: center;
}
.one{
	margin: 50px;
}
.like-favorite{
	margin: 30px;
	font-size: 19px;
	color: white;
}
.like-favorite-item{
	color:white;
}


.body-guitar{
	padding-left: 20%;
	background-color: #222222;
	background-size: auto;

}
.search-box{
	display: inline;
	margin: 30px;
	font-size: 20px;

}
form{
	padding-top: 33px;
}
.box1{
	display: inline-block;
	margin: 20px;
	text-align: center;
    word-break: break-all;
	width:30em;
}


.gbody{
font-size: 30px;
margin: 19px;
color: white;
}


.editdelete{
	font-size: 17px;
}
.h{
	color: white;
}
.cate-item{
	margin: 0 10px;
	font-size: 20px;
	color: red;
	padding-left: 130px;
}
.search-i{
margin: 13px;
}
.new-body{
	font-size: 57px;
	padding-top: 50px;
}
.new-audio{
	padding-left: 40%;
	padding-top: 50px;
	color: white;
}
.pagenate{
	color: white;
	text-align: center;
	font-size: 23px;
}











.search-box_label {
    font-weight: bold;
}
.is-hide {
    display: none;
}